.box1{
    background-color: darkkhaki;
    width: 600px;
    height: 400px;
}

.box2{
 background-color: darkmagenta;
    width: 400px;
    height: 300px;
}

.box3{
    background-color: fuchsia;
    width: 100px;
    height: 250px;

}
.bpx4{
    background-color: ghostwhite;
    width: 150px;
    height: 230px;
}


